torch~=1.10.0
tensorboard~=2.8.0
numpy >= 1.16.5, < 1.23.0
tqdm~=4.62.3
setuptools~=57.0.0
matplotlib~=3.5.2
pysam~=0.18.0
pandas~=1.3.5
cyvcf2~=0.30.15
# Protobuf 4.0 is incompatible with TF. Force < 3.20 until they unblock upgrade.
# See: http://b/182876485
# See: https://github.com/protocolbuffers/protobuf/issues/9954#issuecomment-1128283911
# See: https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/tools/pip_package/setup.py?q=protobuf
protobuf >= 3.9.2, < 3.20
